<div class="threat-list-container">
  <clr-datagrid>
    <clr-dg-column>Threat Name</clr-dg-column>
    <clr-dg-column>Threat Status</clr-dg-column>

    <clr-dg-row *ngFor="let threat of threats">
      <clr-dg-cell>{{threat.name}}</clr-dg-cell>
      <clr-dg-cell>{{threat.status}}</clr-dg-cell>
      <clr-dg-row-detail *clrIfExpanded>
        <ul class="list">
          <li *ngFor="let resource of threat.affectedResources; index as i">
            {{ resource }}
          </li>
        </ul>
      </clr-dg-row-detail>
    </clr-dg-row>

    <clr-dg-footer>{{threats.length}} Threats</clr-dg-footer>
  </clr-datagrid>
</div>
